.body__container {
  max-width: 1000px;
  height: 1000px;
  font-family: 'Sunflower', sans-serif;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}
.inner {
  width: 800px;
  margin: 0 auto;
}


/* HEADER */
.inner .logo {
  width: 800px;
  height: 150px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #111;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
  margin-top: 30px;
}


/* VISUAL */
.visual .swiper-container {
  width: 800px;
  position: absolute;
}
.visual .swiper-slide {
  background-color: rgba(0, 0, 0, .7);
  margin: 30px 0;
  width: 350px;
  height: 500px;
  opacity: .4;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, .3);
  border-radius: 5px;
}
.visual .swiper-slide:hover {
  transition: all .3s; 
}
.visual .swiper-slide a {
  text-decoration: none;
  font-size: 36px;
  color: #dddddd;
}
.visual .thumb__container {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 5px dotted #ccc;
}
.visual .thumb__container>img {
  width: 150px;
  height: 150px;
}
.visual .swiper-slide .summary {
  padding: 20px;
  width: 350px;
  margin: 0 auto;
}
.visual .swiper-slide .summary h4 {
  text-align: center;
  background: #ddd;
  color: #222;
  padding: 10px 0;
  font-size: 28px;
}
.visual .swiper-slide .summary p {
  text-align: center;
  font-size: 16px;
}
.visual .swiper-slide-active {
  opacity: 1;
}
.visual .swiper-pagination {
  position: absolute;
  top: 660px;
  left: 0;
  right: 0;
}
.visual .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  outline: none;
  margin-right: 30px;
  background-color: #ddd;
}
.visual .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.visual .swiper-prev,
.visual .swiper-next {
  width: 60px;
  height: 60px;
  border: 2px solid #555555;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  user-select: none;
  opacity: .7;
}
.visual .swiper-prev {
  left: 68%;
  margin-left: -480px;
}
.visual .swiper-next {
  right: 68%;
  margin-right: -480px;
}
.visual .swiper-prev:hover,
.visual .swiper-next:hover {
  background-color: #333;
  color: #fff;
  opacity: 1;
}