.body__container header .inner {
  background-color: #00ff00;
  height: 100px;
  width: 1000px;
  margin: 0 auto;
}

.body__container .visual .inner {
  background-color: #289573;
  height: 800px;
}

.body__container footer .inner {
  background-color: #663542;
  height: 100px;
}
