.body__container {
  max-width: 1200px;
  height: 1000px;
  font-family: 'Sunflower', sans-serif;
  background-image: url("../images/background.jpg");
  background-size: cover;
  margin: 0 auto;
}
.inner {
  width: 1000px;
  margin: 0 auto;
}

/* HEADER */
header {
  font-size: 24px;
}
.inner .logo {
  text-align: center;
  padding: 20px 0;
}
.inner .logo a img {
  width: 200px;
}

/* VISUAL */
.visual {

}
.visual .inner {

}
.visual .swiper-container {
  width: 1000px;
  position: absolute;
}
.visual .swiper-slide {
  background-color: rgba(0, 0, 0, .7);
  margin: 50px 0;
  width: 330px;
  height: 300px;
  margin-right: 5px;
  opacity: .4;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, .3);
}
.visual .swiper-slide-active {
  opacity: 1;
  transform: scale(1.2);
}
.visual .swiper-slide a {
  text-decoration: none;
  font-size: 36px;
  color: #dddddd;
}
.visual .swiper-pagination {
  top: 70%;
  left: 0;
  right: 0;
}
.visual .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  outline: none;
  margin-right: 30px;
  background-color: #ddd;
}
.visual .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.visual .swiper-prev,
.visual .swiper-next {
  width: 60px;
  height: 60px;
  border: 2px solid #555555;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  user-select: none;
  opacity: .7;
}
.visual .swiper-prev {
  left: 59%;
  margin-left: -480px;
}
.visual .swiper-next {
  right: 59%;
  margin-right: -480px;
}
.visual .swiper-prev:hover,
.visual .swiper-next:hover {
  background-color: #333;
  color: #fff;
  opacity: 1;
}

