.clearfix {
  content: "";
  clear: both;
  display: block;
}

.body__container {
  background-color: #333333;




  header {
    background-color: #333333;

    .inner {
      background-color: #444444;
      height: 100px;
      width: 1200px;
      margin: 0 auto;


    }
  
  }

  .visual {

    .inner {
      background-color: #289573;
      height: 800px;
      position: relative;
      margin: 0 auto;
      max-width: 1200px;
      overflow: hidden;

      .visual__header {

        p {
          color: #dddddd;
          text-align: center;
          font-size: 48px;
          padding: 20px;
        }

      }

      .menu {
        margin: 0 auto;

        li {
          text-align: center;
          border: 1px solid;
          float: left;
          width: 370px;
          height: 500px;
          box-sizing: border-box;
          border-radius: 5px;
          margin-right: 10px;
          transition: all .3;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, .9);

          &:hover {
            opacity: 0.7;
          }
          a {
            text-align: center;
            font-size: 30px;
            text-decoration: none;
            color: #000000;
            transition: 0.3s;
          }

          a:hover {
            color: #00ff00;
            transform: rotate(15deg);
          }
        }
      }

      .btnwrap {

        .btn {
          position: absolute;

          &:first-child {
            top: 50%;
            left: 5%;
          }

          &:last-child {
            top: 50%;
            right: 5%;
          }
        }
      }
    }
  }

  footer {
    .inner {
      background-color: #663542;
      height: 100px;
    }
  }
}