.body__container {

  header {

    .inner {
      background-color: #00ff00;
      height: 100px;
      width: 1000px;
      margin: 0 auto;


    }
  
  }

  .visual {

    .inner {
      background-color: #289573;
      height: 800px;

      .menu {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          width: 300px;
          height: 500px;
          padding: 50px 30px;

          a {
            text-align: center;
            font-size: 30px;
            text-decoration: none;
            color: #ff00ff;
            transition: 0.3s;
          }

          a:hover {
            color: #00ff00;
          }
        }
      }
    }
  }

  footer {
    .inner {
      background-color: #663542;
      height: 100px;
    }
  }
}