@mixin view {
    border: 1px solid red;
}

@mixin align {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: sans-serif;

    .wrapper {
        max-width: 1280px;
        position: relative;

        .header {
            width: 100vw;
            min-height: 682px;
            margin: 0 auto;
            background: url(../img/20201030_main.png) no-repeat;
            background-size: auto 682px;
            background-position: top center;



            .top_nav {
                width: 1280px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                padding: 0 10px;
                position: relative;

                .allmenu {

                    img {
                        margin-bottom: -4px;
                    }

                    img:hover {
                        cursor: pointer;
                    }

                    .allmenuwrap {
                        position: absolute;
                        display: flex;
                        background-color: rgba(0, 0, 0, 0.9);
                        padding: 40px 0;
                        z-index: 99;

                        li {
                            list-style: none;
                            margin-left: 15px;
                            margin-right: 50px;

                            a:nth-child(1) {
                                color: #2A87DE;
                                font-size: 20px;
                                margin-bottom: 20px;
                            }

                            a {
                                color: #ffffff;
                                display: block;
                                font-size: 14px;
                                text-decoration: none;
                                line-height: 25px;
                            }
                        }

                        li:nth-of-type(6) {
                            margin-right: 300px;
                        }
                    }
                }

                .login {
                    color: #D4D4D4;
                    background: black;
                    padding: 13px;
                    line-height: 2px;
                    cursor: pointer;
                }
            }

            .mainmenu {
                width: 1280px;
                margin: 25px auto 0;
                padding-bottom: 100px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                .logo {
                    margin: 5px 50px 0 0;
                }

                .mainmenulist {
                    width: 500px;
                    display: flex;
                    justify-content: space-between;

                    .menu {
                        align-self: flex-start;


                        h3 {
                            padding: 10px 10px 20px;
                            color: white;
                            text-decoration: none;
                            font-size: 20px;
                            font-weight: 900;
                            position: relative;
                        }

                        ul {
                            display: none;
                            background: white;
                            padding: 10px 30px 30px 10px;
                            position: absolute;

                            a {
                                color: black;
                                font-size: 14px;
                                text-decoration: none;
                                line-height: 20px;
                                display: block;
                            }
                        }

                    }

                    .menu:hover {
                        h3 {
                            background-color: white;
                            cursor: pointer;
                            color: #0A4EA3;

                            &~ul {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .main {
        width: 100vw;

        .title {
            min-width: 1280px;

            img {
                display: block;
                margin: 0 auto;
                padding: 30px;
            }
        }

        .content_top {
            min-width: 1280px;
            display: flex;
            justify-content: center;
            align-items: center;


            .contentwrap {

                width: 391px;
                margin: 0 27px;

                h2 {
                    font-weight: bold;
                    font-size: 24px;
                    color: #0A4EA3;
                    padding: 0 0 15px;
                }

                ul {
                    li>img {
                        cursor: pointer;
                    }

                    li {
                        line-height: 1.4;
                    }

                    .title {
                        font-size: 16px;
                        font-weight: bold;
                        margin: 10px 0;
                    }

                    .text {
                        font-size: 14px;
                        width: 100%;
                    }
                }
            }
        }

        .content_bottom {
            margin: 50px auto 0;
            width: 1280px;
            position: relative;


            h2 {
                font-weight: bold;
                font-size: 24px;
                color: #0A4EA3;
                padding: 15px 0;

            }

            .imgwrap {

                .wrap {
                    .img {
                        width:320px;
                        height:292px;
                        overflow:hidden;
                        float:left;
                        box-sizing: border-box;
                        position:relative;

                        a {
                            color:#fff;
                            display:block;
                            z-index:99;
                        }
                        
                        a:hover::after {
                            content:"";
                            display:block;
                            position:absolute;
                            left:0;
                            top:0;
                            width:310px;
                            height:283px;
                            border:5px solid #fff200
                        }
    
                    }
                }
            }

            .imgwrap::after {
                content: "";
                display: block;
                clear: both;
            }


            .btn_more {
                max-width: 1280px;
                @include align();
                padding: 80px;
                cursor: pointer;
            }
        }

        .title2 {
            img {
                display: block;
                margin: 0 auto;
                padding: 80px 0;
            }

            ;
        }

        .menu_bottom {
            width: 1280px;
            display: flex;
            justify-content: flex-start;
            margin: 0 auto;

            .menuwrap {
                margin-left: 80px;

                h3>span {
                    display: inline-block;
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 25px;
                }

                .menulist {
                    li>a {
                        display: inline-block;
                        text-decoration: none;
                        color: #585858;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .footer {
        width: 100vw;

        .footerwrap {
            width: 1280px;
            display: flex;
            justify-content: space-between;
            margin: 50px auto 0;
            border-top: 1px solid gray;
            padding: 50px 0 20px;

            .contentwrap {
                margin-left: -100px;

                ul {
                    font-size: 14px;
                    margin-bottom: 10px;

                    .accent {
                        color: #376FB4;
                    }

                    a {
                        color: gray;
                        text-decoration: none;
                        margin-right: 15px;
                    }
                }

                div>p {
                    font-size: 12px;
                }
            }
        }
    }
}
